html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
p {
  line-height: 2.3rem;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
h4 {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  padding: 0rem 4rem 0rem 2rem;
}
.navigator {
  background-color: #175517;
}
.inNav {
  background-color: rgba(0, 7, 1, 0.2);
}
.linksAll {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
  width: 100%;
}
.linksAll .linksRight {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}
.linksAll .linksLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}
.linksAll a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  padding: 2rem;
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.picture {
  height: 35rem;
  border: 2px solid black;
  width: 100%;
  margin: 0 auto;
  background-image: url(https://d39l2hkdp2esp1.cloudfront.net/img/photo/174043/174043_00_2x.jpg);
}
.picture h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 5rem;
  color: white;
}
.picture .boldMe {
  font-weight: bolder;
  font-style: italic;
}
.picture .inspiring {
  margin-top: 9rem;
}
.lowerHalf {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 35% 0 35%;
  padding-top: 3rem;
}
.clickMe {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  margin: 0 35% 0 35%;
}
.clickMe .button {
  background-color: #016b01;
  color: white;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
}
.boxes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.boxes .box9 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 40%;
}
.boxes .box1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 40%;
}
.boxes .box2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 40%;
}
.boxes .box3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 40%;
}
.boxes .box4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 40%;
}
.boxes .box5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 40%;
}
.boxes .box6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 40%;
}
.boxes .box7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 40%;
}
.boxes .box8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
  width: 40%;
}
.boxes .box10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
  width: 40%;
}
.boxes .box10 img {
  height: 20rem;
  width: 20rem;
}
img {
  width: 15rem;
  height: 15rem;
}
.words {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10%;
}
.words .names {
  font-size: 2rem;
  color: white;
  text-shadow: -1px -1px 0 #175517, 1px -1px 0 #175517, -1px 1px 0 #175517, 1px 1px 0 #175517;
  font-weight: bolder;
}
.words .titles {
  font-size: 2rem;
  color: white;
  text-shadow: -1px -1px 0 #175517, 1px -1px 0 #175517, -1px 1px 0 #175517, 1px 1px 0 #175517;
  font-weight: bolder;
  display: flex;
  flex-wrap: nowrap;
}
.words .descrip {
  font-size: 2rem;
  color: white;
  text-shadow: -1px -1px 0 #175517, 1px -1px 0 #175517, -1px 1px 0 #175517, 1px 1px 0 #175517;
  font-weight: bolder;
}
