.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.picture {
    height: 35rem;
    border: 2px solid black;
    width: 100%;
    margin: 0 auto;
    background-image: url(https://d39l2hkdp2esp1.cloudfront.net/img/photo/174043/174043_00_2x.jpg);
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 5rem;
        color: white;
    }
    .boldMe {
        font-weight: bolder;
        font-style: italic;
    }
    .inspiring {
        margin-top: 9rem;
    }
}
.lowerHalf {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 35% 0 35%;
    padding-top: 3rem;
}
.clickMe {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin: 0 35% 0 35%;
    .button {
        background-color: rgb(1, 107, 1);
        color: white;
        border-radius: 8px;
        padding: 1rem;
        width: 100%;
    }
}