h4 {
    display: flex;
    flex-wrap: nowrap;
    width:20rem;
    color: purple;
}
nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    border: 1px dotted black;
    padding: 1rem;
    a {
        color: red;
        font-size: 2rem;
        width: 15rem;
        text-decoration: none;
    }
    .linksLeft {
        display: flex;
        justify-content: flex-start;
        padding-left: 5rem;
    }
    .linksRight {
        display: flex;
        justify-content: flex-end;
        padding-left: 47rem;
    }
}
