.head {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    color:green;
}
nav a{
    color: red;
}
.links {
    color: purple;
}
nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}